body{
margin:0;
font-family:sans-serif;
background:linear-gradient(135deg,#ff4f81,#6a11cb);
color:white;
text-align:center;
overflow-x:hidden;
}

/* GLASS CARD */
.glass{
background:rgba(255,255,255,0.12);
backdrop-filter:blur(12px);
padding:20px;
border-radius:20px;
display:inline-block;
margin-top:20px;
transition:0.3s;
}

/* GLOW ON HOVER */
.glass:hover{
box-shadow:0 0 20px #ff4f81;
transform:scale(1.03);
}

/* INSTAGRAM GRID */
.grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:15px;
padding:20px;
}

/* CARD */
.card{
position:relative;
border-radius:15px;
overflow:hidden;
cursor:pointer;
background:rgba(255,255,255,0.1);
backdrop-filter:blur(10px);
transition:0.3s;
}

/* HOVER GLOW */
.card:hover{
box-shadow:0 0 20px #fff;
transform:scale(1.05);
}

/* IMAGE */
.card img{
width:100%;
height:140px;
object-fit:cover;
}

/* HEARTS FLOATING */
.hearts{
position:absolute;
top:5px;
left:10px;
animation:float 2s infinite;
}

@keyframes float{
50%{transform:translateY(-5px);}
}

/* POPUP */
#popup{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,0.9);
display:none;
justify-content:center;
align-items:center;
}

.popupBox{
background:black;
padding:20px;
border-radius:15px;
width:90%;
max-width:500px;
animation:zoom 0.4s;
}

@keyframes zoom{
from{transform:scale(0.7);opacity:0}
to{transform:scale(1);opacity:1}
}

video,audio{
width:100%;
display:none;
}